*{margin:0;padding: 0; box-sizing: border-box;}

header{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,2,0.3),rgba(0,3,0,0.1)), url('../images/taj.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}


nav{
	width: 100%;
	height: 15vh;
	display: flex;
	justify-content:space-between;
	color: white;
	background: rgb(0,0,0,0.2);
	align-items: center;
	text-transform: uppercase;
}

.logo{
	width: 25%;
	text-align: center;
}

.logo h1{
	animation-iteration-count:infinite;
}

.menu{
	width: 30%;
	display:flex;
	justify-content: space-around;
	align-items: center;
}

.menu a{

	width: 33.33%;
	text-decoration: none;
	color: white;
}

.menu a:hover{
	font-weight: bolder;
}

.menu a:first-child{
	color: gray;
}

main{
	width: 100%;
	height: 85%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
}

section{

}

section h3{
	font-size: 35px;
	font-weight: 200;
	letter-spacing: 3px;
	text-shadow: 1px 1px 2px black;
}

section h1{
	margin: 15px 0 20px 0;
	font-size: 55px;
	font-weight: 500;
	text-shadow: 1px 1px 5px black;
	text-transform: uppercase;
}

section p{
	font-size: 25px;
	color: #eee;
	margin-bottom:25px;
	word-spacing: 2px;
	text-shadow: 1px 1px 2px black;
}

section a{
	padding: 15px 20px;
	font-size: 13px;
	font-weight: 500px;
	text-decoration:none;
	border-radius: 4px;
	outline: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: white;
	transition: all 0.5s ease;
}


.btn1{
	background:#fff;
	color:#000;
}

.btn2{
	background:gray;
	color: white;
}

.btn1:hover{
	background:gray;
	color: white;
}

.btn2:hover{
	background:#fff;
	color:#000;
}


.change_content:after{
	content: '';
	animation: changetext 10s infinite linear;
	color:black;
}

@keyframes changetext{

	0%{content: 'Mumbai';}
	20%{content: "Delhi";}
	40%{content: "Jaipur";}
	60%{content: "Agra";}
	80%{content: "Ladakh";}
	100%{content: 'Kashmir'}
}